.syllables {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 5vh 0;
}

.syllables th {
    height: max-content;
    text-align: center;
    padding: .5vw;
    border: 3px solid black;
    background-color: white;
}

.syllables th:hover {
    background-color: chartreuse;
    cursor: zoom-in;
}

.syllables .newSyllable {
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    color: saddlebrown;
    background-color: white;
    position: absolute;
    left: 5vw;
    right: 5vw;
    border-radius: .25em;
    transition: all .25s;
}

.syllables .newSyllable:hover {
    cursor: zoom-out;
}

.soglas th, .syllables .soglas {
    background-color: skyblue;
}

.soglas th, .syllables .soglas:hover {
    cursor: default;
    background-color: skyblue;
}

.soglas th:hover {
    cursor: default;
    background-color: skyblue;
}

.syllables .glas, .glas th {
    background-color: gold;
}

.syllables .glas, .glas th:hover {
    cursor: default;
    background-color: gold;
}

.syllables .glas:hover {
    cursor: default;
    background-color: gold;
}

.soglas .null {
    background-color: darkgrey;
}

.syllables .null {
    background-color: darkgrey;
}

.syllables .null:hover {
    background-color: darkgrey;
    cursor: default;
}

@media screen and (orientation: portrait) {
    .tableLandscape {
        display: none;
    }

    .syllables .newSyllable {
        font-size: 40vw;
        top: calc(10vh + 80px);
        bottom: 10vh;
    }

    .syllables th {
        font-size: 1.7vh;
    }
}

@media screen and (orientation: landscape) {
    .tablePortrait {
        display: none;
    }

    .syllables .newSyllable {
        font-size: 45vh;
        top: calc(5vh + 80px);
        bottom: 5vh;
    }

    .syllables th {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .syllables th {
        font-size: 1.5vh;
    }

    .syllables {
        margin: 10vh 0;
    }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
    .syllables th {
        font-size: 1.2vh;
    }

    .syllables {
        margin: 15vh 0;
    }
}

@media screen and (max-width: 305px) and (orientation: portrait) {
    .syllables th {
        font-size: 1vh;
    }

    .syllables {
        margin: 15vh 0;
    }
}